@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --headline-16-semibold: Inter;

  /* font sizes */
  --bodytext-14-medium-size: 14px;
  --headline-16-semibold-size: 16px;
  --caption-12-regular-size: 12px;
  --font-size-3xs-1: 9.1px;
  --font-size-smi: 13px;
  --font-size-xs-4: 11.4px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-15xl: 34px;
  --font-size-3xs: 10px;

  /* Colors */
  --white: #fff;
  --bg: #f7f7f8;
  --color-whitesmoke-100: #f6f6f6;
  --line: #efefef;
  --theme-text-body: #374151;
  --body-text: #393939;
  --dark: #252c3e;
  --primary-default: #4877ef;
  --state-new-default: #005ac4;
  --color-royalblue-100: rgba(0, 90, 196, 0.1);
  --heading: #1b1b1b;
  --color-gray-100: #171725;
  --theme-text-heading: #111827;
  --color-gray-200: rgba(255, 255, 255, 0.4);
  --color-gray-300: rgba(255, 255, 255, 0.2);
  --caption: #a7a7a7;
  --colors-grey-grey-5: #9e9e9e;
  --color-black: #000;
  --state-warning-default: #ff9900;
  --state-completed-default: #00c48c;
  --color-mediumslateblue: #8154ef;
  --label: #cdcdcd;
  --color-red: #e50000;
  --color-dimgray: #696974;
  --state-info-default: #00a9de;
  --color-deepskyblue-100: rgba(0, 169, 222, 0.1);
  --colors-grey-grey-3: #e2e2e2;
  --state-danger-default: #f43c3c;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-25xl: 44px;
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-xs: 12px;
  --gap-12xs: 1px;
  --gap-3xs: 10px;
  --gap-11xs: 2px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-lg: 18px;
  --padding-xs: 12px;
  --padding-7xs: 6px;
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-9xs: 4px;
  --padding-41xl: 60px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-4xs-9: 8.9px;
  --padding-sm: 14px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-481xl: 500px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-36xl-5: 55.5px;
  --br-425xl-4: 444.4px;
  --br-62xl-7: 81.7px;
  --br-70xl-1: 89.1px;
  --br-52xl-5: 71.5px;

  /* Effects */
  --grey-shadows-6: 0px 8px 24px -4px rgba(27, 46, 94, 0.12);
  --grey-shadows-4: 0px 4px 8px -6px rgba(27, 46, 94, 0.03),
    0px 16px 8px -4px rgba(27, 46, 94, 0.03);
  --card: 0px 1px 4px rgba(23, 23, 37, 0.1);
  --line-bottom: 0px 1px 0px rgba(0, 0, 0, 0.08);
}
